
.two_panels {
  display: grid;
  grid-template-columns: max-content;
  grid-template-areas: "left right";
}
.two_panels__left {
  grid-area: left;
}
.two_panels_right {
  grid-area: right;
}
.labeled_inputs {
  display: grid;
  grid-template-columns: max-content max-content;
}
.labeled_inputs > input[type=radio] {
  align-self: flex-start;
}
.width_clamp--14ch {
  max-width: 15ch;;
}
