
body {
  margin : 0;
  display: flex;
  flex-direction: column;
  background: gainsboro
}
main {
  flex-grow: 1;
}

.content {
	background: white;
	margin: 0 auto;
	display: flex;
	max-width: 5in;
	border: 2px solid black;
	border-radius: 19px;
	margin-top: 10vh;
	padding: 10px;
	box-shadow: 2px 4px 5px 2px rgba(0,0,0,0.4);
}

.two_panels {
  display: grid;
  grid-template-columns: max-content;
  grid-template-areas: "left right";
  column-gap: 1ch;
}
.two_panels__left {
  grid-area: left;
}
.two_panels_right {
  grid-area: right;
}
.labeled_inputs {
  display: grid;
  grid-template-columns: max-content max-content;
}
.labeled_inputs > label {
  margin: 0 .5ch;
}
.labeled_inputs > input[type=radio] {
  align-self: flex-start;
}
